@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.nav-items {
    font-family: "Roboto";
    color: #6C757C;
    font-weight: 600;
    font-size: 12px;
    margin: 2px;
}

.twitter-icon {
    color: #00ACEE;
    font-size: 25px;
}

.tweet-button {
    background-color: #4BB3F2;
    border-radius: 15px;
    color: white;
    font-family: "Roboto";
    font-weight: 600;
    border-width: 0px;
    width: 80px;
    margin-top: 3px;
}

.home-page-bg-color {
    background-color: #E7ECF0;
    background-size: cover;
    padding-top: 5px;
}

.profile-name {
    color: #ffffff;
    font-size: 18px;
    padding: 50px;
    padding-left: 60px;
    padding-top: 60px;
}

.r-styling {
    color: #ffffff;
    font-size: 25px;
}

.name-bg {
    margin-top: 10px;
    background-color: black;
    background-size: cover;
    height: 170px;
}

.profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 150px;
    margin-left: 20px;
}

.name {
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 30px;
}

.profile-id {
    font-size: 18px;
    color: gray;
    text-decoration: none;
}

.tweets-following-followers {
    margin-top: 80px;
    margin-left: 18px;
    color: gray;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 600;
}

.numbers-section {
    margin-left: 18px;
    color: #00ACEE;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 600;
}

.chat-page-card {
    background-size: cover;
    margin-top: 10px;
    background-color: white;
}

.chat-page-image {
    height: 70px;
    width: 70px;
    border-radius: 150px;
    background-color: #C59C68;
}

.chat-page-name {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: bold;
    margin-left: 10px;
}

.chat-message {
    color: black;
    font-size: 11px;
    font-weight: 600;
    margin-left: 10px;
    font-family: "Roboto";
}

.message-highlight {
    font-weight: bold;
    font-size: 17px;
}

.suggestions-card {
    background-color: white;
    background-size: cover;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
}

.suggestions-card-heading {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
}

.follow-button {
    margin-left: 10px;
    border-style: solid;
    border-color: #00ACEE;
    color: #00ACEE;
    font-family: "Roboto";
    background-color: transparent;
    border-radius: 13px;
    width: 110px;
    font-weight: bold;
}

.suggestions-page-name {
    font-family: "Roboto";
    font-size: 11px;
    font-weight: bold;
    margin-top: 25px;
    padding-left: 10px;
}

.suggestions-id {
    font-size: 9px;
    color: gray;
    text-decoration: none;
}

.horizontal-line {
    height: 1px;
    color: #eef0f2;
    border-width: 0;
    background-color: #eef0f2;
}

.mail {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 15px;
    padding-left: 4px;
}

.icon-footer {
    color: #959ead;
    font-size: 19px;
}

.home-page-bg-color-lg {
    background-color: #E7ECF0;
    background-size: cover;
    padding-top: 5px;
}